@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.team-page {
	// in honor of Joe's typos we are team memebers instead of members

	.allisyn, .lien, .jake {
		background-color: #1e1e1e;
		color: white;
		margin: 10px;
		padding: 10px;
		border-radius: 10px;
		font-family: 'Quicksand', sans-serif;
	}

	.memeber {
		margin: 10px;
		padding: 5px;
		background-color: #1e1e1e;
		border-radius: 10px;

		img {
			width: 70%;
			border-radius: 20px;
			margin: 20px auto;
		}

		h3 {
			margin-top: 15px;
			margin-bottom: 15px;
			color: #6252cb;
			font-family: 'Raleway', sans-serif;
		}
	}
}

@media screen and (min-width: 768px) {
	.team-page {
		display: grid;

		.memeber {
			width: 60%;
			margin: 15px auto;
		}
	}
}

@media screen and (min-width: 1024px) {
	.team-page {
		grid-template-columns: repeat(3, 1fr);

		.allisyn, .lien, .jake {
			padding: 20px;
			p {
				font-size: 24px;
			}
		}

		.memeber {
			width: 80%;
			margin: 40px;
			height: 400px;

			img {
				width: 90%;
				height: 265px;
			}
		}
	}
}

@media screen and (min-width: 1440px) {
	.team-page {
		.memeber {
			img {
				width: 80%;
			}
		}
	}
}