@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.team-page {
	// in honor of Joe's typos we are team memebers instead of members

	.memeber {
		margin: 10px;
		padding: 5px;
		background-color: #1e1e1e;
		border-radius: 10px;

		img {
			width: 70%;
			border-radius: 20px;
			margin: 10px auto;
		}

		h3 {
			margin-top: 15px;
			margin-bottom: 15px;
			color: #6252cb;
			font-family: 'Raleway', sans-serif;
		}

		p {
			margin: 10px 20px 10px 20px;
			color: white;
			font-family: 'Quicksand', sans-serif;
		}
	}
}

@media screen and (min-width: 768px) {
	.team-page {
		display: grid;

		.memeber {
			width: 60%;
			margin: 15px auto;
		}
	}
}

@media screen and (min-width: 1024px) {
	.team-page {
		grid-template-columns: repeat(3, 1fr);

		.memeber {
			width: 90%;
			margin: 15px;

			img {
				width: 75%;
			}

			p {
				font-size: 19px;
			}
		}
	}
}

@media screen and (min-width: 1440px) {
	.team-page {
		.memeber {
			img {
				width: 95%;
			}

			p {
				font-size: 26px;
			}
		}
	}
}