.home-buttons {

	.delete-week,
	.new-week {
		width: 250px;
		font-size: 16px;
		color: white;
		background-color: rgba(98, 82, 203, 0.7);
		border-radius: 10px;
		margin: 10px auto;
		padding-top: 2px;
		letter-spacing: 1px;
		&:hover {
			cursor: pointer;
			box-shadow: 1px 1px 2px #eeebebb2;
		}
	}
}

@media screen and (min-width: 768px) {
    .home-buttons {
        display: flex;
    }
}
