
.about {
	width: 80%;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;

	h1 {
		color: #6252cb;
		font-family: 'Raleway', sans-serif;
		background-color: #1e1e1e;
		border-radius: 10px;
		margin: 10px;
		padding: 15px;
		&:hover {
			cursor: context-menu;
			-webkit-transform: scale(1.2);
  			-ms-transform: scale(1.2);
			transform: scale(1.2);
			border: 3px solid #70D3FF;
			color: white;
			background: rgb(58, 57, 57);
			text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
		}
	}

	p {
		color: white;
		font-family: 'Quicksand', sans-serif;
		background-color: #1e1e1e;
		border-radius: 10px;
		margin: 10px;
		padding: 15px;
	}
	img {
		border-radius: 10px;
		width: 100%;
		margin: 10px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width:768px) {
    .about {
        p {
            font-size: 20px;
            padding: 25px;
        }

        h1 { 
            font-size: 34px;
        }
    }
}